@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
    ViewData["Title"] = "DNTS Logo";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100px;">
    <img src="~/Images/dnts-act.png" width="1000" height="250" alt="DNTS Logo" />
</div>

